.button {
  box-sizing: border-box;
  align-self: center;
  background: transparent;
  transition: all 0.5s ease;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid;
  position: relative;
  border-width: 2px;
  overflow: hidden;
}

.medium {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.big {
  padding: 1rem 1.5rem;
  font-size: 2rem;
}

@media only screen and (max-width: 420px) {
  .big {
    font-size: 1.5rem;
    padding: 0.4rem 1.8rem;
  }
}

.small {
  padding: 0.2rem 0.5rem;
  font-size: 1.25rem;
}

button:hover {
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}
